@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background-color: rgba(215, 215, 215, 0.741);
}

:root{
  --main-font-size:2rem;
  --secondary-font-size:1.5rem;
  --large-font-size:1.3rem;
  --medium-font-size:1.2rem;
  --small-font-size:1rem;
  --extra-small-font-size:14px;
}

.container {
  width: 100%;
  margin: 20px auto;
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

.sec {
  border-radius: 10px;
  background-color: white;
  box-shadow: 6px 6px #8080803f;
}

/* Hero section style */
.hero {
  width: 100%;
  /* background-color: rgb(192, 228, 228); */
  padding: 10px 20px;
}

.hero h1 {
  font-size:var(--main-font-size);
  letter-spacing: 1px;
  line-height: 42px;
  text-align: center;
}

.hero h3 {
  font-size: var(--secondary-font-size);
  letter-spacing: 1px;
  line-height: 42px;
  font-weight: 500;
  text-align: center;
}

.hero p {
  font-size:  var(--small-font-size);
  letter-spacing: 1px;
  line-height: 32px;
}

@media (max-width: 640px) {
  .hero h1 {
    font-size: var(--secondary-font-size);
  }
  .hero h3 {
    font-size: var(--medium-font-size);
  }
  .hero p {
    font-size: var(--extra-small-font-size);
  }
}

/* About section style */
.about {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
}
.about .background {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.about .background img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.about .skills_cont {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about .skills_cont span {
  font-size:  var(--secondary-font-size);
  font-weight: 600;
  letter-spacing: 1px;
}

.about .skills_cont ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.about .skills_cont ul li {
    background-color: rgb(79, 107, 246);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.about .skills_cont p {
  font-size: var(--small-font-size);
  letter-spacing: 1px;
  line-height: 32px;
  z-index: 20;
}

@media (max-width: 640px) {
  .about .skills_cont p {
    font-size: var(--extra-small-font-size);
  }
}

/* Skills section style */

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (max-width: 640px) {
  .skills {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.skills span {
  display: block;
  font-size: var(--medium-font-size);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 10px 0;
}

.skills .tec-skills,
.skills .soft-skills {
  background-color: white;
  flex-basis: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 6px 6px #8080803f;
}

@media (min-width: 641px) {
  .skills .tec-skills,
  .skills .soft-skills {
    height: 260px;
  }
}

.skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.skills .tec-skills ul li,
.skills .soft-skills ul li {
  margin: 10px 0;
}
.skills .tec-skills ul li:nth-child(odd),
.skills .soft-skills ul li:nth-child(odd) {
  background-color: rgb(48, 163, 163);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.skills .tec-skills ul li:nth-child(even),
.skills .soft-skills ul li:nth-child(even) {
  background-color: rgb(79, 151, 246);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.projects {
  padding: 10px;
}
.projects h2 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 10px;
}

.projects .proj {
  /* border:2px solid black; */
  padding: 10px 20px;
  background-color: rgba(219, 216, 216, 0.21);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  border-radius: 10px;
}

.projects .proj span {
  font-size: var(--large-font-size);
  font-weight: 600;
}
.projects .proj p {
  text-transform: capitalize;
  font-size: var(--small-font-size);
}
.projects .proj .tecs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 640px) {
  .projects .proj .tecs {
    flex-direction: column;
  }
}
.projects .proj .tecs ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.projects .proj .tecs ul li {
  background-color: rgb(79, 107, 246);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
.projects .proj a {
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
}
.projects .proj a:hover {
  color: blue;
}
/* Contact section style */

.contact h2 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 0 20px;
}

.contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.contact ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: var(--small-font-size);
  color: black;
  font-weight: 600;
}
.contact ul li a img {
  width: 25px;
  height: 25px;
}
